@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import "./variables.scss";
@import "./loggedOut.scss";
@import "./Tail.css";
@import "./Footer.scss";