.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &.full-width-loader {
    height: calc(100vh - 100px) !important;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    margin: 8px;
    border: 4px solid $primary-color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary-color transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.3s;
  }

  div:nth-child(2) {
    animation-delay: -0.25s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}