.error-boundary {
  .title {
    display: inline;
    font-size: $font-size;
  }

  button {
    display: inline;
    color: $primary-color;
    font-size: $font-size-sm;
    font-weight: $font-weight-six;
    padding: 5px 10px;
    margin-left: 20px;
    transition: 0.3s all ease;
    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }
}
