.main-layout {
  display: flex;
  height: 100vh;

  .layout {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--theme-layout-color);


    @media only screen and (min-width: 640px) {
      margin-left: $drawer-width;
    }
  }
}