@use "Variables";

.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &.full-width-loader {
    height: calc(100vh - 100px) !important;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    margin: 8px;
    border: 4px solid Variables.$darker-secondary-color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: Variables.$darker-secondary-color transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.3s;
  }

  div:nth-child(2) {
    animation-delay: -0.25s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: Variables.$darker-secondary-color;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(24px, 0);
    }
  }
}

.holizontal-loader {
  height: 8px;
  width: 50px;
  background: repeating-linear-gradient(90deg, Variables.$primary-color 0 calc(25% - 5px), Variables.$secondary-color 0 25%) left/calc(4*100%/3) 100%;
  animation: l1 0.5s infinite linear;
  display: inline-block;
  vertical-align: middle;

  @keyframes l1 {
    100% {
      background-position: right
    }
  }
}