$font-size-xs: 0.68em;
$font-size-sm: 0.73rem;
$font-size: 0.70rem;

$font-weight-five: 500;
$font-weight-six: 600;
$font-weight-seven: 700;

$primary-color: #92c9f0;
$secondary-color: #2f80ed;
$darker-secondary-color: #35508b;
$link-color: #1e87f0;
$grey-color: #a9a9ab;
$dark-grey-color: #444444;
$light-grey-color: #ccc;
$white-color: #fff;
$light-bg: #efefef;
$hover-color: #ffffdd;
$success-color: #01a506;

$request-state-color: #ffcc60;

$danger-color: #dc3545;
$warning-color: #faa05a;
$hover-color: #ffd;

$border-radius: 0.25em;

$drawer-width: 180px;


/////////////////
$font-size-xs: 0.7em;
$font-size-sm: 0.75rem;
$font-size: 0.8rem;
$font-size-md: 1.02rem;
$font-size-lg: 1.2rem;

$font-weight: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;


$primary-color: #991f2a;
$secondary-color: #2e6ac3;
$darker-secondary-color: #4365ae;
$grey-color: #a9a9ab;
$dark-grey-color: #666;
$dark-blue: darkblue;
$light-grey-color: #ccc;
$black-color: #1d1e1f;
$white-color: #fff;
$muted-color: #d2d2d2;
$light-bg: #efefef;
$hover-color: #ffffdd;
$drawer-color: #abb8c3;
$tertiary-color: #fed082;


$secondary-btn: #2e6ac3;
$secondary-btn-hover: #2e6ac3;
$danger-btn: #ed1c24;
$danger-btn-hover: #ed1c24;


$success-color: #32d296;
$danger-color: #ed1c24;
$warning-color: #faa05a;

$border-radius: 3px;
$border-color: #f0f0f0;


$extraBig-device: "only screen and (min-width: 1600px)";
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$desktop-device: "only screen and (min-width: 992px) and (max-width: 1199px)";
$tablet-device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large-mobile: "only screen and (max-width: 767px)";
$small-mobile: "only screen and (max-width: 575px)";
$extra-small-mobile: "only screen and (max-width: 479px)";

$drawer-width: 220px;