$font-size-xs: 0.68em;
$font-size-sm: 0.73rem;
$font-size: 0.70rem;

$font-weight-five: 500;
$font-weight-six: 600;
$font-weight-seven: 700;

$primary-color: #92c9f0;
$secondary-color: #2f80ed;
$darker-secondary-color: #35508b;
$link-color: #1e87f0;
$grey-color: #a9a9ab;
$dark-grey-color: #444444;
$light-grey-color: #ccc;
$white-color: #fff;
$light-bg: #efefef;
$hover-color: #ffffdd;
$success-color: #01a506;

$request-state-color: #ffcc60;

$danger-color: #dc3545;
$warning-color: #faa05a;
$hover-color: #ffd;

$border-radius: 0.25em;

$drawer-width: 180px;